<a href="https://colab.research.google.com/github/zangatec/E16/blob/main/MNA_IAyAA_semana_10_Actividad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Inteligencia Artificial y Aprendizaje Automático**
###Tecnológico de Monterrey
###Prof Luis Eduardo Falcón Morales

## **Adtividad de la Semana 10**
###**Reducción de Dimensionalidad - Descomposición en Valores Singulares (SVD) y Sistemas de Recomendación**

**Nombres y matrículas de los integrantes del equipo:**

*   Andrea Carolina Treviño Garza A01034993
*   David Winterman Hemilson A00919441
*   Pedro Ulises Meléndez Ortega A00716301
*   José David Hernández Navarro A01793021

En cada sección deberás incluir todas las líneas de código necesarias para responder a cada uno de los ejercicios.

In [ ]:
# Incluye aquí todos módulos, librerías y paquetes que requieras.
import numpy as np
import pandas as pd

from sklearn.decomposition import TruncatedSVD

#**Ejercicio-1.**

In [ ]:
#Se extraen columnas de interés de archivo "rating_final.csv" (previamente cargado en sección de archivos):

total_rat_rest = pd.read_csv("/content/rating_final.csv", header=0, sep=",")   

print(total_rat_rest.shape)
total_rat_rest.head(5)

(1161, 5)

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [ ]:
#A su vez, se extraen columnas de interés de archivo "geoplaces2.csv" (también previamente cargado en sección de archivos):

rest_info = pd.read_csv('/content/geoplaces2.csv', header=0, encoding='latin-1', sep=",")

rest_name = rest_info[['placeID', 'name']] 
print(rest_name.shape)
rest_name.head(5)

#rest_info.head(5)

(130, 2)

   placeID                            name
0   134999                 Kiku Cuernavaca
1   132825                 puesto de tacos
2   135106      El Rincón de San Francisco
3   132667  little pizza Emilio Portes Gil
4   132613                   carnitas_mata

In [ ]:
#Matriz de utilidad con valores de columna "rating":

rating_rest = total_rat_rest[['userID', 'placeID', 'rating']]  # seleccionemos las columnas con las que trabajaremos.

rating_merge = pd.merge(rating_rest, rest_name, on= 'placeID')

Ut_rating = rating_merge.pivot_table(values='rating', index='userID', columns='name', fill_value=0)

print("Tamaño de matriz de utilidad con valores de Rating general: ", Ut_rating.shape)
Ut_rating.head(10)

Tamaño de matriz de utilidad con valores de Rating general:  (138, 129)

name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
U1004,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
U1005,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1006,0,0,0,1,0,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0
U1007,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1008,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1009,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
U1010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#**Ejercicio-2.**

In [ ]:
#SVD para rating:

X_rating = Ut_rating.T
print("Tamaño de matriz transpuesta de matriz de utilidad, según rating:", X_rating.shape)

SVD_rating = TruncatedSVD(n_components = 137, random_state = 1)
SVD_rating.fit(X_rating)

print("Cantidad de valores singulares obtenidos: ", ((SVD_rating.singular_values_).sum()).round(3))

Tamaño de matriz transpuesta de matriz de utilidad: (129, 138)
Cantidad de valores singulares obtenidos:  410.011

#**Ejercicio-3.**

In [ ]:
#Correlación de Pearson considerando valores de rating:

matrix_rating = SVD_rating.fit_transform(X_rating)
corrRating = np.corrcoef(matrix_rating,)
print("Tamaño de matriz de correlación de Pearson con valores de rating: ", corrRating.shape)

Tamaño de matriz de correlación de Pearson con valores de rating:  (129, 129)

In [ ]:
#Recomendaciones con rating geenral para usuario que evaluó bien "Subway":
like_rating = "Subway"

names_Rat = Ut_rating.columns
rating_list = list(names_Rat)
id_like_Rating = rating_list.index(like_rating)
print("ID de restaurante Subway: ", id_like_Rating)

corr_recom_rating = corrRating[id_like_Rating]
print("Tamaño de matriz de correlación de Subway con otros restaurantes: ", corr_recom_rating.shape)
print("Matriz de correlación de Subway con otros restaurantes: ", corr_recom_rating)

ID de restaurante Subway:  88
Tamaño de matriz de correlación de Subway con otros restaurantes:  (129,)
Matriz de correlación de Subway con otros restaurantes:  [-7.69028369e-04 -7.87822168e-05 -5.27330975e-03  8.58511349e-04
 -3.03891148e-03  3.97495832e-05 -1.54820208e-03 -5.29347145e-03
  7.27520383e-04 -1.55098452e-03 -1.84483094e-03  3.01090491e-01
 -3.06938616e-05 -3.66639157e-03 -2.28024815e-03 -1.70971180e-03
  2.66961340e-03  4.58467365e-04 -2.11449533e-03 -6.20445134e-03
  3.34268563e-03  1.16598607e-01  1.87080102e-03  2.53682556e-03
 -5.48801141e-03 -2.91288266e-03  2.02825342e-03 -1.36607265e-03
 -2.01695899e-03  1.12058244e-01 -2.36235727e-03  6.52159239e-04
  3.53495770e-03 -3.62793330e-03  1.69065407e-03 -4.51837401e-03
 -2.09301342e-03  2.34634298e-01 -3.80413494e-03 -5.11845710e-04
 -2.27148704e-03  3.88178002e-01 -2.07427108e-03 -2.29428835e-03
  1.32565455e-03  3.01002479e-01  1.71433518e-01 -3.29715354e-03
 -4.74480596e-03 -8.02527884e-04 -2.65071452e-03  1.12018889e-01
 -3.91080724e-03 -2.06369812e-03  1.16008629e-01  2.27855804e-01
  4.28342495e-04 -8.69739761e-04  6.09520875e-01 -6.43364064e-03
  4.25467169e-01 -2.27256171e-03  4.45920939e-05  5.11279379e-04
  2.85149220e-01 -1.90010302e-03 -4.16115194e-03 -5.61375368e-03
 -2.57693978e-03 -3.72881676e-03 -6.05992942e-03  1.41047150e-03
 -1.58675476e-04 -1.94116490e-03  2.09955125e-03 -2.10171395e-03
 -4.38985616e-03 -2.29468299e-03  7.76009788e-04 -2.96124143e-03
 -2.82046690e-03 -8.57374506e-04 -1.50259308e-03 -3.19597534e-03
 -2.56400020e-03  4.29823831e-01  4.17218501e-01  3.89064434e-03
  1.00000000e+00 -9.93812832e-04  8.60361345e-04 -2.79531559e-03
  2.37442956e-04 -3.06216758e-03  1.36462717e-03  2.66480676e-04
  2.92661192e-03  5.06277680e-01 -3.20853148e-03 -8.36332065e-04
 -3.72003822e-03  1.60652886e-03 -1.25997089e-03 -2.57629937e-03
  1.70432198e-03 -2.43624453e-03 -1.13863819e-03  1.91200064e-03
 -3.57766463e-03 -2.41086958e-03 -8.60077590e-03  3.33763511e-03
  3.00375655e-03  2.47765536e-03  1.38274830e-03 -1.59646437e-05
 -8.37066511e-04 -1.73990894e-03 -1.20344221e-03 -3.56656608e-03
 -2.38089550e-03 -4.91396372e-06 -3.20025066e-03  1.81536303e-03
  2.45429531e-03 -2.56625850e-03 -2.88100273e-03 -1.91214767e-03
  8.37828947e-04]

In [ ]:
#Recomendaciones para usuarios que les gusta restaurante "Subway" de acuerdo a rating:
listRat_orig = list(names_Rat[(corr_recom_rating > .23) & (corr_recom_rating < 1)])
print("Lista de las 10 mejores recomendaciones para alguien que evaluó bien Subway, considerando rating:")
listRat_orig

Lista de las 10 mejores recomendaciones para alguien que evaluó bien Subway, considerando rating:

['Chilis Cuernavaca',
 'Log Yin',
 'Mariscos Tia Licha',
 'Mikasa',
 'Restaurant Teely',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Restaurant los Pinos',
 'Rincon del Bife',
 'Sanborns Casa Piedra',
 'Vips']

In [ ]:
#Se observa que al ver la correlación de la matriz de Subway de otros restaurantes con su propio ID es igual a 1 (como se esperaba):
corr_recom_rating[id_like_Rating]

1.0

#**Ejercicio-4.**

In [ ]:
#Disminuyendo la dimensión de la factorización de SVD, considerando rating,
#para poder recomendar a usuarios que gustan de "Subway":

num_SVD_rat = 10

SVD_rat_red = TruncatedSVD(n_components=num_SVD_rat, random_state=1)

matrix_rat_red = SVD_rat_red.fit_transform(X_rating)
print("Tamaño de matriz reducida, considerando rating: ", matrix_rat_red.shape)

corrRat_red = np.corrcoef(matrix_rat_red, )
print("Tamaño de matriz de correlación reducida, considerando rating: ", corrRat_red.shape)

corr_recom_rat_red = corrRat_red[id_like_Rating]
print("Tamaño de matriz de correlación reducida recomendada para los que gustan de Subway (considerando rating): ",corr_recom_rat_red.shape)
print("Matriz de correlación reducida recomendada para los que gustan de Subway (considerando rating):", corr_recom_rat_red)

Tamaño de matriz reducida, considerando rating:  (129, 10)
Tamaño de matriz de correlación reducida, considerando rating:  (129, 129)
Tamaño de matriz de correlación reducida recomendada para los que gustan de Subway (considerando rating):  (129,)
Matriz de correlación reducida recomendada para los que gustan de Subway (considerando rating): [-0.15064635  0.97877781 -0.1845724  -0.15983695  0.99887223 -0.07193956
 -0.01573204  0.18193487  0.02371689 -0.0721253  -0.12088734  0.99990361
 -0.06747016 -0.12881113 -0.09992082 -0.01851576  0.99669844 -0.05222151
  0.06912151 -0.2865713   0.99326413  0.9972279  -0.02609229 -0.01136617
  0.09097883  0.03500756 -0.06497314 -0.01839213 -0.07070041  0.99712923
 -0.09078034  0.07195591  0.01535248 -0.14201129  0.07756104 -0.17304099
  0.05330264  0.99939672  0.99800799  0.04505749 -0.19152571  0.99990619
  0.99897094 -0.04660154 -0.01223637  0.99987903  0.99997694 -0.16809713
  0.05646127 -0.07411778 -0.15513466  0.99795453 -0.0428533  -0.02754784
  0.99737849  0.99911926 -0.06908106 -0.0535078   0.99995595 -0.37949259
  0.99992724  0.0133778  -0.09546762 -0.04008912  0.9987684  -0.12605574
 -0.07861828  0.02977735 -0.08655958 -0.23038202 -0.23325957  0.0014082
 -0.27000998 -0.09780463  0.05936832 -0.1409088  -0.15376939  0.02895601
  0.03207908 -0.13242192 -0.12764337  0.02587718 -0.3183686  -0.06213944
 -0.17168128  0.99999114  0.99922828 -0.05492277  1.         -0.09103499
  0.24734684  0.01971235  0.03541931 -0.14363045 -0.06154369  0.07756226
 -0.11625572  0.99970433  0.22957745  0.05344933  0.08278858  0.02681506
  0.04620649 -0.08251087 -0.0139657  -0.12470857 -0.12324963  0.11603648
 -0.06589269 -0.02698282 -0.25340461 -0.10075728  0.0348006   0.2417503
  0.05415109 -0.04827793  0.02904476 -0.10893208  0.06000859 -0.11620178
  0.02144132 -0.12271631 -0.12185329  0.03977879  0.04050994  0.01855841
 -0.04375352  0.03027135  0.05226146]

In [ ]:
#Las recomendaciones considerando reducir el número de componentes, buscando que coincidan 9 de 10 recomendaciones cuando se consideran todos los valores (según el rating) es:
listRat_red = list(names_Rat[(corr_recom_rat_red > .9992) & (corr_recom_rat_red < 1)])
print("Tamaño de lista de recomendaciones de matriz reducida, según rating: ", len(listRat_red))
print("Lista de recomendaciones de matriz reducida, según rating:")
listRat_red

Tamaño de lista de recomendaciones de matriz reducida, según rating:  10
Lista de recomendaciones de matriz reducida, según rating:

['Chilis Cuernavaca',
 'Log Yin',
 'Mariscos Tia Licha',
 'Mikasa',
 'Paniroles',
 'Restaurant Teely',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Rincon del Bife',
 'Sanborns Casa Piedra',
 'Vips']

In [ ]:
#Datos comunes entre lista con SVD original (n_components = 137) y SVD reducido, con food_rating:
common_servlist = set(listRat_orig).intersection(listRat_red)
print("Lista de restaurantes en común con SVD tamaño original y tamaño reducido, según rating: ")
print(common_servlist)
print("Cantidad de elementos comunes entre ambas listas, según rating: ", len(common_servlist))

Lista de restaurantes en común con SVD tamaño original y tamaño reducido, según rating:
{'Rincon del Bife', 'Sanborns Casa Piedra', 'Mikasa', 'Chilis Cuernavaca', 'Restaurant and Bar and Clothesline Carlos N Charlies', 'Mariscos Tia Licha', 'Vips', 'Log Yin', 'Restaurant Teely'}
Cantidad de elementos comunes entre ambas listas, según rating:  9

In [ ]:
#Cantidad de valores singulares encontrado y cantidad de información que contienen, considerando los valores de rating:
print('Cantidad de información simplificada con los primeros %d vectores singulares, considerando valores de rating:' % num_SVD_rat)
print('%.1f%%' %  (100 * (1- (SVD_rating.singular_values_[0:num_SVD_rat]).sum() / (SVD_rating.singular_values_).sum())))

Cantidad de información simplificada con los primeros 10 vectores singulares, considerando valores de rating:
75.6%

#**Ejercicio-5.**

In [ ]:
#Recomendaciones con rating para usuario que evaluó bien "tacos de barbacoa enfrente del Tec":
like_rating1 = "tacos de barbacoa enfrente del Tec"

names_Rat = Ut_rating.columns
rating_list = list(names_Rat)
id_like_Rating1 = rating_list.index(like_rating1)
print("ID de restaurante tacos de barbacoa enfrente del Tec: ",id_like_Rating1)

corr_recom_rating1 = corrRating[id_like_Rating1]
print("Tamaño de matriz de correlación de tacos de barbacoa enfrente del Tec con otros restaurantes: ", corr_recom_rating1.shape)

#Recomendaciones para usuarios que les gusta restaurantes "tacos de barbacoa enfrente del Tec" de acuerdo a rating:
listRat_orig1 = list(names_Rat[(corr_recom_rating1 > .1709) & (corr_recom_rating1 < 1)])
print("Lista de las 10 mejores recomendaciones para alguien que evaluó bien tacos de barbacoa enfrente del Tec, considerando rating:")
listRat_orig1

ID de restaurante tacos de barbacoa enfrente del Tec:  124
Tamaño de matriz de correlación de tacos de barbacoa enfrente del Tec con otros restaurantes:  (129,)
Lista de las 10 mejores recomendaciones para alguien que evaluó bien tacos de barbacoa enfrente del Tec, considerando rating:

['Carreton de Flautas y Migadas',
 'Hamburguesas La perica',
 'Little Cesarz',
 'Taqueria EL amigo ',
 'carnitas mata calle Emilio Portes Gil',
 'little pizza Emilio Portes Gil',
 'palomo tec',
 'puesto de gorditas',
 'tacos abi',
 'vips']

In [ ]:
#Disminuyendo cantidad de SVD considerando rating, para poder recomendar a usuarios que gustan de "tacos de barbacoa enfrente del Tec":

num_SVD_rat1 = 33 
SVD_rat_red1 = TruncatedSVD(n_components=num_SVD_rat1, random_state=1)

matrix_rat_red1 = SVD_rat_red1.fit_transform(X_rating)
print("Tamaño de matriz reducida, considerando rating: ", matrix_rat_red1.shape)

corrRat_red1 = np.corrcoef(matrix_rat_red1, )
print("Tamaño de matriz de correlación reducida, considerando rating: ", corrRat_red1.shape)

corr_recom_rat_red1 = corrRat_red1[id_like_Rating1]
print("Tamaño de matriz de correlación reducida recomendada para los que gustan de tacos de barbacoa enfrente del Tec (considerando rating):", corr_recom_rat_red1.shape)

#Recomendaciones:
listRat_red1 = list(names_Rat[(corr_recom_rat_red1 > .89) & (corr_recom_rat_red1 < .999)])
print("Tamaño de lista de recomendaciones de matriz reducida, según rating: ", len(listRat_red1))
print("Lista de recomendaciones de matriz reducida, según rating: ")
listRat_red1

Tamaño de matriz reducida, considerando rating:  (129, 33)
Tamaño de matriz de correlación reducida, considerando rating:  (129, 129)
Tamaño de matriz de correlación reducida recomendada para los que gustan de tacos de barbacoa enfrente del Tec (considerando rating): (129,)
Tamaño de lista de recomendaciones de matriz reducida, según rating:  10
Lista de recomendaciones de matriz reducida, según rating:

['Carreton de Flautas y Migadas',
 'Hamburguesas La perica',
 'Little Cesarz',
 'Taqueria EL amigo ',
 'carnitas_mata',
 'little pizza Emilio Portes Gil',
 'palomo tec',
 'puesto de gorditas',
 'tacos abi',
 'vips']

In [ ]:
#Datos comunes entre lista con SVD original (n_components =137) y SVD reducido, con food_rating:
common_servlist = set(listRat_orig1).intersection(listRat_red1)
print("Lista de restaurantes en común con SVD tamaño original y tamaño reducido, según rating: ")
print(common_servlist)
print("Cantidad de elementos comunes entre ambas listas, según rating: ", len(common_servlist))

Lista de restaurantes en común con SVD tamaño original y tamaño reducido, según rating:
{'Taqueria EL amigo ', 'Little Cesarz', 'little pizza Emilio Portes Gil', 'Hamburguesas La perica', 'tacos abi', 'Carreton de Flautas y Migadas', 'puesto de gorditas', 'palomo tec', 'vips'}
Cantidad de elementos comunes entre ambas listas, según rating:  9

In [ ]:
#Cantidad de valores singulares encontrado y cantidad de información que contienen, considerando los valores de rating:
print('Cantidad de información simplificada con los primeros %d vectores singulares, considerando valores de rating:' % num_SVD_rat1)
print('%.1f%%' %  (100 * (1- (SVD_rating.singular_values_[0:num_SVD_rat1]).sum() / (SVD_rating.singular_values_).sum())))

Cantidad de información simplificada con los primeros 33 vectores singulares, considerando valores de rating:
43.7%

#**Ejercicio-6.**

In [ ]:
#Matriz de utilidad con valores de columna "food_rating":

food_rat_rest = total_rat_rest[['userID', 'placeID', 'food_rating']]  # seleccionemos las columnas con las que trabajaremos.

food_rat_merge = pd.merge(food_rat_rest, rest_name, on= 'placeID')

Ut_food_rat = food_rat_merge.pivot_table(values='food_rating', index='userID', columns='name', fill_value=0)

print("Tamaño de matriz de utilidad con valores tomados de 'food_rating': ", Ut_food_rat.shape)
Ut_food_rat.head(10)

Tamaño de matriz de utilidad con valores tomados de 'food_rating':  (138, 129)

name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
U1004,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
U1005,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1006,0,0,0,0,0,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0
U1007,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1008,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1009,0,0,2,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
U1010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#SVD para food_rating:

X_food_rat = Ut_food_rat.T
print("Tamaño de matriz transpuesta de matriz de utilidad, según food_rating:", X_food_rat.shape)

SVD_food_rat = TruncatedSVD(n_components = 137, random_state = 1)
SVD_food_rat.fit(X_food_rat)

print("Cantidad de valores singulares obtenidos: ", ((SVD_food_rat.singular_values_).sum()).round(3))

Tamaño de matriz transpuesta de matriz de utilidad, según food_rating: (129, 138)
Cantidad de valores singulares obtenidos:  420.677

In [ ]:
#Correlación considerando valores de food_rating:

matrix_food_rat = SVD_food_rat.fit_transform(X_food_rat)
corrFoodRat = np.corrcoef(matrix_food_rat,)
print("Tamaño de matriz de correlación de Pearson con valores de food_rating: ", corrFoodRat.shape)

#Recomendaciones con food_rating para usuario que evaluó bien "Subway":
like_rating2 = "Subway"

names_food_rat = Ut_food_rat.columns
food_rat_list = list(names_food_rat)
id_like_foodRat = food_rat_list.index(like_rating2)
print("ID de restaurante Subway: ", id_like_foodRat)

corr_recom_food_rat = corrFoodRat[id_like_foodRat]
print("Tamaño de matriz de correlación de Subway con otros restaurantes: ", corr_recom_food_rat.shape)

#Recomendaciones para usuarios que les gusta restaurantes "Subway" de acuerdo a food_rating:
listFood_orig = list(names_food_rat[(corr_recom_food_rat > .232) & (corr_recom_food_rat < 1)])
print("Lista de las 10 mejores recomendaciones para alguien que evaluó bien Subway, considerando food_rating:")
listFood_orig

Tamaño de matriz de correlación de Pearson con valores de food_rating:  (129, 129)
ID de restaurante Subway:  88
Tamaño de matriz de correlación de Subway con otros restaurantes:  (129,)
Lista de las 10 mejores recomendaciones para alguien que evaluó bien Subway, considerando food_rating:

['Kiku Cuernavaca',
 'Mariscos Tia Licha',
 'Paniroles',
 'Restaurant Familiar El Chino',
 'Restaurant Las Mananitas',
 'Restaurant Teely',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Rincon del Bife',
 'Sanborns Casa Piedra',
 'Vips']

In [ ]:
#Disminuyendo cantidad de SVD considerando food_rating, para poder recomendar a usuarios que gustan de "Subway":

num_SVD_foodRat = 72
SVD_foodRat_red = TruncatedSVD(n_components=num_SVD_foodRat, random_state=1)

matrix_foodRat_red = SVD_foodRat_red.fit_transform(X_food_rat)
print("Tamaño de matriz reducida, considerando food_rating: ", matrix_foodRat_red.shape)

corrFoodRat_red = np.corrcoef(matrix_foodRat_red, )
print("Tamaño de matriz de correlación reducida, considerando food_Rating: ",corrFoodRat_red.shape)

corr_recom_foodRat_red = corrFoodRat_red[id_like_foodRat]
print("Tamaño de matriz de correlación reducida para los que gustan de Subway (considerando food_rating)", corr_recom_foodRat_red.shape)

#Las recomendaciones considerando reducir el número de componentes, buscando que coincidan 9 de 10 recomendaciones cuando se consideran todos los valores (según el rating) es:
listFood_red = list(names_food_rat[(corr_recom_foodRat_red > .25) & (corr_recom_foodRat_red < .99999)])
print("Tamaño de la lista de recomendaciones de matriz reducida, según food_Rating: ", len(listFood_red))
print("Lista de recomendaciones de matriz reducida, según food_Rating: ")
listFood_red

Tamaño de matriz reducida, considerando food_rating:  (129, 72)
Tamaño de matriz de correlación reducida, considerando food_Rating:  (129, 129)
Tamaño de matriz de correlación reducida para los que gustan de Subway (considerando food_rating) (129,)
Tamaño de la lista de recomendaciones de matriz reducida, según food_Rating:  10
Lista de recomendaciones de matriz reducida, según food_Rating:

['Mariscos Tia Licha',
 'Mikasa',
 'Paniroles',
 'Restaurant Familiar El Chino',
 'Restaurant Las Mananitas',
 'Restaurant Teely',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Rincon del Bife',
 'Sanborns Casa Piedra',
 'Vips']

In [ ]:
#Datos comunes entre lista con SVD original (n_components =137) y SVD reducido, con food_rating:
common_servlist = set(listFood_orig).intersection(listFood_red)
print("Lista de restaurantes en común con SVD tamaño original y tamaño reducido, según food_rating: ")
print(common_servlist)
print("Cantidad de elementos comunes entre ambas listas, según food_rating: ", len(common_servlist))

Lista de restaurantes en común con SVD tamaño original y tamaño reducido, según food_rating:
{'Rincon del Bife', 'Sanborns Casa Piedra', 'Paniroles', 'Restaurant Las Mananitas', 'Restaurant and Bar and Clothesline Carlos N Charlies', 'Restaurant Familiar El Chino', 'Mariscos Tia Licha', 'Vips', 'Restaurant Teely'}
Cantidad de elementos comunes entre ambas listas, según food_rating:  9

In [ ]:
#Cantidad de valores singulares encontrado y cantidad de información que contienen, considerando los valores de food_rating:
print('Cantidad de información simplificada con los primeros %d vectores singulares, considerando valores de food_rating:' % num_SVD_foodRat)
print('%.1f%%' %  (100 * (1- (SVD_rating.singular_values_[0:num_SVD_foodRat]).sum() / (SVD_rating.singular_values_).sum())))

Cantidad de información simplificada con los primeros 72 vectores singulares, considerando valores de food_rating:
13.2%

#**Ejercicio-7.**

In [ ]:
#Matriz de utilidad con valores de columna "service_rating":

serv_rat_rest = total_rat_rest[['userID', 'placeID', 'service_rating']]  # seleccionemos las columnas con las que trabajaremos.

serv_rat_merge = pd.merge(serv_rat_rest, rest_name, on= 'placeID')

Ut_serv_rat = serv_rat_merge.pivot_table(values='service_rating', index='userID', columns='name', fill_value=0)

print("Tamaño de matriz de utilidad con valores tomados de 'service_rating': ", Ut_serv_rat.shape)
Ut_serv_rat.head(10)

Tamaño de matriz de utilidad con valores tomados de 'service_rating':  (138, 129)

name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
U1004,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
U1005,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1006,0,0,0,1,0,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0
U1007,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1008,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1009,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#SVD para service_rating:

X_serv_rat = Ut_serv_rat.T
print("Tamaño de matriz transpuesta de matriz de utilidad, según service_rating:", X_serv_rat.shape)

SVD_serv_rat = TruncatedSVD(n_components = 137, random_state = 1)
SVD_serv_rat.fit(X_serv_rat)

print("Cantidad de valores singulares obtenidos: ", ((SVD_serv_rat.singular_values_).sum()).round(3))

Tamaño de matriz transpuesta de matriz de utilidad, según service_rating: (129, 138)
Cantidad de valores singulares obtenidos:  388.135

In [ ]:
#Correlación considerando valores de service_rating:

matrix_serv_rat = SVD_serv_rat.fit_transform(X_serv_rat)
corrServRat = np.corrcoef(matrix_serv_rat,)
print("Tamaño de matriz de correlación de Pearson con valores de service_rating: ", corrServRat.shape)

#Recomendaciones con service_rating para usuario que evaluó bien "Subway":
like_rating3 = "Subway"

names_serv_rat = Ut_serv_rat.columns
serv_rat_list = list(names_serv_rat)
id_like_servRat = serv_rat_list.index(like_rating3)
print("ID de restuarante Subway: ", id_like_servRat)

corr_recom_serv_rat = corrServRat[id_like_servRat]
print("Tamaño de matriz de correlación de Subway con otros restaurantes: ", corr_recom_serv_rat.shape)

#Recomendaciones para usuarios que les gusta restaurantes "Subway" de acuerdo a service_rating:
listServ_orig = list(names_serv_rat[(corr_recom_serv_rat > .15) & (corr_recom_serv_rat < 1)])
print("Lista de las 10 mejores recomendaciones para alguién que evaluó bien Subway, considerando service_rating: ")
listServ_orig

Tamaño de matriz de correlación de Pearson con valores de service_rating:  (129, 129)
ID de restuarante Subway:  88
Tamaño de matriz de correlación de Subway con otros restaurantes:  (129,)
Lista de las 10 mejores recomendaciones para alguién que evaluó bien Subway, considerando service_rating:

['Chilis Cuernavaca',
 'Giovannis',
 'Kiku Cuernavaca',
 'Paniroles',
 'Restaurant Familiar El Chino',
 'Restaurant Las Mananitas',
 'Restaurant Teely',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Rincon del Bife',
 'Vips']

In [ ]:
#Disminuyendo cantidad de SVD considerando service_rating, para poder recomendar a usuarios que gustan de "Subway":

num_SVD_servRat = 47
SVD_servRat_red = TruncatedSVD(n_components=num_SVD_servRat, random_state=1)

matrix_servRat_red = SVD_servRat_red.fit_transform(X_serv_rat)
print("Tamaño de matriz reducida, considerando service_rating: ", matrix_servRat_red.shape)

corrServRat_red = np.corrcoef(matrix_servRat_red, )
print("Tamaño de matriz de correlación reducida, considerando service_rating: ", corrServRat_red.shape)

corr_recom_servRat_red = corrServRat_red[id_like_servRat]
print("Tamaño de matriz de correlación reducida para los que gustan de Subway (considerando service_rating)", corr_recom_servRat_red.shape)

#Las recomendaciones considerando reducir el número de componentes, buscando que coincidan 9 de 10 recomendaciones cuando se consideran todos los valores (según el rating) es:
listServ_red = list(names_serv_rat[(corr_recom_servRat_red > .185) & (corr_recom_servRat_red < .99999)])
print("Tamaño de la lista de recomendaciones de matriz reducida, según service_rating: ", len(listServ_red))
print("Lista de recomendacione de matriz reducida, según service_rating: ")
listServ_red

Tamaño de matriz reducida, considerando service_rating:  (129, 47)
Tamaño de matriz de correlación reducida, considerando service_rating:  (129, 129)
Tamaño de matriz de correlación reducida para los que gustan de Subway (considerando service_rating) (129,)
Tamaño de la lista de recomendaciones de matriz reducida, según service_rating:  10
Lista de recomendacione de matriz reducida, según service_rating:

['Chilis Cuernavaca',
 'Giovannis',
 'Kiku Cuernavaca',
 'Mariscos Tia Licha',
 'Paniroles',
 'Restaurant Las Mananitas',
 'Restaurant Teely',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Rincon del Bife',
 'Vips']

In [ ]:
#Datos comunes entre lista con SVD original (n_components =137) y SVD reducido, con service_rating
common_servlist = set(listServ_orig).intersection(listServ_red)
print("Lista de restaurantes en común con SVD tamaño original y tamaño reducido, según service_rating: ")
print(common_servlist)
print("Lista de recomendaciones de matriz reducida, según service_rating:", len(common_servlist))

Lista de restaurantes en común con SVD tamaño original y tamaño reducido, según service_rating:
{'Rincon del Bife', 'Paniroles', 'Restaurant Teely', 'Restaurant Las Mananitas', 'Restaurant and Bar and Clothesline Carlos N Charlies', 'Kiku Cuernavaca', 'Giovannis', 'Vips', 'Chilis Cuernavaca'}
Lista de recomendaciones de matriz reducida, según service_rating: 9

In [ ]:
#Cantidad de valores singulares encontrado y cantidad de información que contienen, considerando los valores de service_rating:
print('Cantidad de información simplificada con los primeros %d vectores singulares, considerando valores de service_rating:' % num_SVD_servRat)
print('%.1f%%' %  (100 * (1- (SVD_rating.singular_values_[0:num_SVD_servRat]).sum() / (SVD_rating.singular_values_).sum())))

Cantidad de información simplificada con los primeros 47 vectores singulares, considerando valores de service_rating:
29.9%

#**Ejercicio-8.**

**Conclusiones:**

Vemos que no es necesario utilizar todos los valores individuales, ya que podemos optimizar el modelo para obtener los mismos datos con menos valores. En el caso de "Metro" vemos que hay una diferencia entre las tres listas de cada calificación diferente, pero entre ellas hay un pequeño subgrupo que se divide en dos o tres, como "VIPS, Teeley, Chillis". Es decir, si esto fuera un sistema de recomendación en producción, se tendrían que tener en cuenta tres listas y solo se darían aquellos restaurantes que encajen en dos o tres listas de restaurantes iguales, o bien dos listas coincidentes mostrarían la comida. . y servicio siempre que su uso también se deje a la discreción del usuario.

###**Fin de la Actividad de la semana 10 - Sistemas de Recomendación y Reducción de Dimensionalidad con SVD.**