<a href="https://colab.research.google.com/github/zangatec/E16/blob/main/MNA_IAyAA_semana_8_Actividad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Inteligencia Artificial y Aprendizaje Automático**
###Tecnológico de Monterrey
###Prof Luis Eduardo Falcón Morales

## **Adtividad de la Semana 8**
###**Máquina de Vector Soporte - Support Vector Machine(SVM)**

**Nombres y matrículas de los integrantes del equipo:**

*   
*   
*   
*   
*

En cada sección deberás incluir todas las líneas de código necesarias para responder a cada uno de los ejercicios.

In [16]:
# Incluye aquí todos módulos, librerías y paquetes que requieras.
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

#**Ejercicio-1.**

In [26]:
df=pd.read_csv("australian.dat",delim_whitespace=True, header=None)
df

     0      1       2   3   4   5      6   7   8   9   10  11   12    13  14
0     1  22.08  11.460   2   4   4  1.585   0   0   0   1   2  100  1213   0
1     0  22.67   7.000   2   8   4  0.165   0   0   0   0   2  160     1   0
2     0  29.58   1.750   1   4   4  1.250   0   0   0   1   2  280     1   0
3     0  21.67  11.500   1   5   3  0.000   1   1  11   1   2    0     1   1
4     1  20.17   8.170   2   6   4  1.960   1   1  14   0   2   60   159   1
..   ..    ...     ...  ..  ..  ..    ...  ..  ..  ..  ..  ..  ...   ...  ..
685   1  31.57  10.500   2  14   4  6.500   1   0   0   0   2    0     1   1
686   1  20.67   0.415   2   8   4  0.125   0   0   0   0   2    0    45   0
687   0  18.83   9.540   2   6   4  0.085   1   0   0   0   2  100     1   1
688   0  27.42  14.500   2  14   8  3.085   1   1   1   0   2  120    12   1
689   1  41.00   0.040   2  10   4  0.040   0   1   1   0   1  560     1   1

[690 rows x 15 columns]

In [27]:
df.isnull().any()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
dtype: bool

In [28]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
count,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.00000,690.000000,690.000000,690.000000,690.000000,690.000000
mean,0.678261,31.568203,4.758725,1.766667,7.372464,4.692754,2.223406,0.523188,0.427536,2.40000,0.457971,1.928986,184.014493,1018.385507,0.444928
std,0.467482,11.853273,4.978163,0.430063,3.683265,1.992316,3.346513,0.499824,0.495080,4.86294,0.498592,0.298813,172.159274,5210.102598,0.497318
min,0.000000,13.750000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,0.000000,22.670000,1.000000,2.000000,4.000000,4.000000,0.165000,0.000000,0.000000,0.00000,0.000000,2.000000,80.000000,1.000000,0.000000
50%,1.000000,28.625000,2.750000,2.000000,8.000000,4.000000,1.000000,1.000000,0.000000,0.00000,0.000000,2.000000,160.000000,6.000000,0.000000
75%,1.000000,37.707500,7.207500,2.000000,10.000000,5.000000,2.625000,1.000000,1.000000,3.00000,1.000000,2.000000,272.000000,396.500000,1.000000
max,1.000000,80.250000,28.000000,3.000000,14.000000,9.000000,28.500000,1.000000,1.000000,67.00000,1.000000,3.000000,2000.000000,100001.000000,1.000000

In [30]:
df.dtypes

0       int64
1     float64
2     float64
3       int64
4       int64
5       int64
6     float64
7       int64
8       int64
9       int64
10      int64
11      int64
12      int64
13      int64
14      int64
dtype: object

#**Ejercicio-2.**

In [ ]:
None

#**Ejercicio-3.**

In [ ]:
None

#**Ejercicio-4.**

In [ ]:
None

#**Ejercicio-5.**

In [ ]:
None

#**Ejercicio-6.**

In [ ]:
None

#**Ejercicio-7.**

In [ ]:
None

#**Ejercicio-8.**

In [ ]:
None

#**Ejercicio-9.**

In [ ]:
None

#**Ejercicio-10.**

In [ ]:
None

###**Fin de la Actividad de la semana 8.**